code/EleicoesTransparentesWebService/WebContent/wsdl/EleicoesWebService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://webservice.eleicoestransparentes.mata62.ufba.br" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://webservice.eleicoestransparentes.mata62.ufba.br" xmlns:intf="http://webservice.eleicoestransparentes.mata62.ufba.br" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://webservice.eleicoestransparentes.mata62.ufba.br" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="consultaCandidatos">
    <complexType/>
   </element>
   <element name="consultaCandidatosResponse">
    <complexType>
     <sequence>
      <element name="consultaCandidatosReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="consultaApplicationPath">
    <complexType/>
   </element>
   <element name="consultaApplicationPathResponse">
    <complexType>
     <sequence>
      <element name="consultaApplicationPathReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="consultaSetoresEconomico">
    <complexType/>
   </element>
   <element name="consultaSetoresEconomicoResponse">
    <complexType>
     <sequence>
      <element name="consultaSetoresEconomicoReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="createTables">
    <complexType>
     <sequence>
      <element name="chaveSeguranca" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="createTablesResponse">
    <complexType>
     <sequence>
      <element name="createTablesReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="consultaSetoresEconomicoResponse">

      <wsdl:part element="impl:consultaSetoresEconomicoResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="createTablesRequest">

      <wsdl:part element="impl:createTables" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="consultaApplicationPathResponse">

      <wsdl:part element="impl:consultaApplicationPathResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="consultaApplicationPathRequest">

      <wsdl:part element="impl:consultaApplicationPath" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="createTablesResponse">

      <wsdl:part element="impl:createTablesResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="consultaCandidatosRequest">

      <wsdl:part element="impl:consultaCandidatos" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="consultaSetoresEconomicoRequest">

      <wsdl:part element="impl:consultaSetoresEconomico" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="consultaCandidatosResponse">

      <wsdl:part element="impl:consultaCandidatosResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="EleicoesWebService">

      <wsdl:operation name="consultaCandidatos">

         <wsdl:input message="impl:consultaCandidatosRequest" name="consultaCandidatosRequest">

       </wsdl:input>

         <wsdl:output message="impl:consultaCandidatosResponse" name="consultaCandidatosResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="consultaApplicationPath">

         <wsdl:input message="impl:consultaApplicationPathRequest" name="consultaApplicationPathRequest">

       </wsdl:input>

         <wsdl:output message="impl:consultaApplicationPathResponse" name="consultaApplicationPathResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="consultaSetoresEconomico">

         <wsdl:input message="impl:consultaSetoresEconomicoRequest" name="consultaSetoresEconomicoRequest">

       </wsdl:input>

         <wsdl:output message="impl:consultaSetoresEconomicoResponse" name="consultaSetoresEconomicoResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="createTables">

         <wsdl:input message="impl:createTablesRequest" name="createTablesRequest">

       </wsdl:input>

         <wsdl:output message="impl:createTablesResponse" name="createTablesResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="EleicoesWebServiceSoapBinding" type="impl:EleicoesWebService">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="consultaCandidatos">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="consultaCandidatosRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="consultaCandidatosResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="consultaApplicationPath">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="consultaApplicationPathRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="consultaApplicationPathResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="consultaSetoresEconomico">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="consultaSetoresEconomicoRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="consultaSetoresEconomicoResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="createTables">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="createTablesRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="createTablesResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="EleicoesWebServiceService">

      <wsdl:port binding="impl:EleicoesWebServiceSoapBinding" name="EleicoesWebService">

         <wsdlsoap:address location="http://localhost:8080/WebService/services/EleicoesWebService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
