code/EleicoesTransparentesWebService/WebContent/wsdl/EleicoesWebService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://webservice.eleicoestransparentes.mata62.ufba.br" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://webservice.eleicoestransparentes.mata62.ufba.br" xmlns:intf="http://webservice.eleicoestransparentes.mata62.ufba.br" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://webservice.eleicoestransparentes.mata62.ufba.br" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="consultaTransacaoCandidato">
    <complexType>
     <sequence>
      <element name="sequencialCandidato" type="xsd:string"/>
      <element name="tipoTransacao" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="consultaTransacaoCandidatoResponse">
    <complexType>
     <sequence>
      <element name="consultaTransacaoCandidatoReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="parserDadosTSE">
    <complexType>
     <sequence>
      <element name="chaveSeguranca" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="parserDadosTSEResponse">
    <complexType>
     <sequence>
      <element name="parserDadosTSEReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="consultaApplicationPath">
    <complexType/>
   </element>
   <element name="consultaApplicationPathResponse">
    <complexType>
     <sequence>
      <element name="consultaApplicationPathReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="consultaPathRoot">
    <complexType/>
   </element>
   <element name="consultaPathRootResponse">
    <complexType>
     <sequence>
      <element name="consultaPathRootReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="consultaSetoresEconomico">
    <complexType/>
   </element>
   <element name="consultaSetoresEconomicoResponse">
    <complexType>
     <sequence>
      <element name="consultaSetoresEconomicoReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="consultaCandidatos">
    <complexType/>
   </element>
   <element name="consultaCandidatosResponse">
    <complexType>
     <sequence>
      <element name="consultaCandidatosReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="consultaPartidos">
    <complexType/>
   </element>
   <element name="consultaPartidosResponse">
    <complexType>
     <sequence>
      <element name="consultaPartidosReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="rankingMaioresDoadoresPessoaFisica">
    <complexType>
     <sequence>
      <element name="UF" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="rankingMaioresDoadoresPessoaFisicaResponse">
    <complexType>
     <sequence>
      <element name="rankingMaioresDoadoresPessoaFisicaReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="consultaBens">
    <complexType>
     <sequence>
      <element name="sequencialCandidato" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="consultaBensResponse">
    <complexType>
     <sequence>
      <element name="consultaBensReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="rankingMaioresDoadoresPessoaJuridica">
    <complexType>
     <sequence>
      <element name="UF" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="rankingMaioresDoadoresPessoaJuridicaResponse">
    <complexType>
     <sequence>
      <element name="rankingMaioresDoadoresPessoaJuridicaReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="createTables">
    <complexType>
     <sequence>
      <element name="chaveSeguranca" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="createTablesResponse">
    <complexType>
     <sequence>
      <element name="createTablesReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="consultaTransacaoPartido">
    <complexType>
     <sequence>
      <element name="numero" type="xsd:int"/>
      <element name="UF" type="xsd:string"/>
      <element name="tipoTransacao" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="consultaTransacaoPartidoResponse">
    <complexType>
     <sequence>
      <element name="consultaTransacaoPartidoReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="consultaSetoresEconomicoResponse">

      <wsdl:part element="impl:consultaSetoresEconomicoResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="consultaTransacaoPartidoRequest">

      <wsdl:part element="impl:consultaTransacaoPartido" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="consultaPathRootResponse">

      <wsdl:part element="impl:consultaPathRootResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="parserDadosTSERequest">

      <wsdl:part element="impl:parserDadosTSE" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="rankingMaioresDoadoresPessoaJuridicaRequest">

      <wsdl:part element="impl:rankingMaioresDoadoresPessoaJuridica" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="createTablesRequest">

      <wsdl:part element="impl:createTables" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="consultaApplicationPathResponse">

      <wsdl:part element="impl:consultaApplicationPathResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="consultaTransacaoCandidatoRequest">

      <wsdl:part element="impl:consultaTransacaoCandidato" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="createTablesResponse">

      <wsdl:part element="impl:createTablesResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="consultaPartidosRequest">

      <wsdl:part element="impl:consultaPartidos" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="consultaTransacaoCandidatoResponse">

      <wsdl:part element="impl:consultaTransacaoCandidatoResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="consultaTransacaoPartidoResponse">

      <wsdl:part element="impl:consultaTransacaoPartidoResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="consultaBensResponse">

      <wsdl:part element="impl:consultaBensResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="consultaCandidatosRequest">

      <wsdl:part element="impl:consultaCandidatos" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="rankingMaioresDoadoresPessoaFisicaRequest">

      <wsdl:part element="impl:rankingMaioresDoadoresPessoaFisica" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="consultaCandidatosResponse">

      <wsdl:part element="impl:consultaCandidatosResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="rankingMaioresDoadoresPessoaFisicaResponse">

      <wsdl:part element="impl:rankingMaioresDoadoresPessoaFisicaResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="parserDadosTSEResponse">

      <wsdl:part element="impl:parserDadosTSEResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="consultaPartidosResponse">

      <wsdl:part element="impl:consultaPartidosResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="consultaPathRootRequest">

      <wsdl:part element="impl:consultaPathRoot" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="consultaApplicationPathRequest">

      <wsdl:part element="impl:consultaApplicationPath" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="consultaBensRequest">

      <wsdl:part element="impl:consultaBens" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="consultaSetoresEconomicoRequest">

      <wsdl:part element="impl:consultaSetoresEconomico" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="rankingMaioresDoadoresPessoaJuridicaResponse">

      <wsdl:part element="impl:rankingMaioresDoadoresPessoaJuridicaResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="EleicoesWebService">

      <wsdl:operation name="consultaTransacaoCandidato">

         <wsdl:input message="impl:consultaTransacaoCandidatoRequest" name="consultaTransacaoCandidatoRequest">

       </wsdl:input>

         <wsdl:output message="impl:consultaTransacaoCandidatoResponse" name="consultaTransacaoCandidatoResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="parserDadosTSE">

         <wsdl:input message="impl:parserDadosTSERequest" name="parserDadosTSERequest">

       </wsdl:input>

         <wsdl:output message="impl:parserDadosTSEResponse" name="parserDadosTSEResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="consultaApplicationPath">

         <wsdl:input message="impl:consultaApplicationPathRequest" name="consultaApplicationPathRequest">

       </wsdl:input>

         <wsdl:output message="impl:consultaApplicationPathResponse" name="consultaApplicationPathResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="consultaPathRoot">

         <wsdl:input message="impl:consultaPathRootRequest" name="consultaPathRootRequest">

       </wsdl:input>

         <wsdl:output message="impl:consultaPathRootResponse" name="consultaPathRootResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="consultaSetoresEconomico">

         <wsdl:input message="impl:consultaSetoresEconomicoRequest" name="consultaSetoresEconomicoRequest">

       </wsdl:input>

         <wsdl:output message="impl:consultaSetoresEconomicoResponse" name="consultaSetoresEconomicoResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="consultaCandidatos">

         <wsdl:input message="impl:consultaCandidatosRequest" name="consultaCandidatosRequest">

       </wsdl:input>

         <wsdl:output message="impl:consultaCandidatosResponse" name="consultaCandidatosResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="consultaPartidos">

         <wsdl:input message="impl:consultaPartidosRequest" name="consultaPartidosRequest">

       </wsdl:input>

         <wsdl:output message="impl:consultaPartidosResponse" name="consultaPartidosResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="rankingMaioresDoadoresPessoaFisica">

         <wsdl:input message="impl:rankingMaioresDoadoresPessoaFisicaRequest" name="rankingMaioresDoadoresPessoaFisicaRequest">

       </wsdl:input>

         <wsdl:output message="impl:rankingMaioresDoadoresPessoaFisicaResponse" name="rankingMaioresDoadoresPessoaFisicaResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="consultaBens">

         <wsdl:input message="impl:consultaBensRequest" name="consultaBensRequest">

       </wsdl:input>

         <wsdl:output message="impl:consultaBensResponse" name="consultaBensResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="rankingMaioresDoadoresPessoaJuridica">

         <wsdl:input message="impl:rankingMaioresDoadoresPessoaJuridicaRequest" name="rankingMaioresDoadoresPessoaJuridicaRequest">

       </wsdl:input>

         <wsdl:output message="impl:rankingMaioresDoadoresPessoaJuridicaResponse" name="rankingMaioresDoadoresPessoaJuridicaResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="createTables">

         <wsdl:input message="impl:createTablesRequest" name="createTablesRequest">

       </wsdl:input>

         <wsdl:output message="impl:createTablesResponse" name="createTablesResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="consultaTransacaoPartido">

         <wsdl:input message="impl:consultaTransacaoPartidoRequest" name="consultaTransacaoPartidoRequest">

       </wsdl:input>

         <wsdl:output message="impl:consultaTransacaoPartidoResponse" name="consultaTransacaoPartidoResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="EleicoesWebServiceSoapBinding" type="impl:EleicoesWebService">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="consultaTransacaoCandidato">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="consultaTransacaoCandidatoRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="consultaTransacaoCandidatoResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="parserDadosTSE">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="parserDadosTSERequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="parserDadosTSEResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="consultaApplicationPath">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="consultaApplicationPathRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="consultaApplicationPathResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="consultaPathRoot">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="consultaPathRootRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="consultaPathRootResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="consultaSetoresEconomico">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="consultaSetoresEconomicoRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="consultaSetoresEconomicoResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="consultaCandidatos">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="consultaCandidatosRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="consultaCandidatosResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="consultaPartidos">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="consultaPartidosRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="consultaPartidosResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="rankingMaioresDoadoresPessoaFisica">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="rankingMaioresDoadoresPessoaFisicaRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="rankingMaioresDoadoresPessoaFisicaResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="consultaBens">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="consultaBensRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="consultaBensResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="rankingMaioresDoadoresPessoaJuridica">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="rankingMaioresDoadoresPessoaJuridicaRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="rankingMaioresDoadoresPessoaJuridicaResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="createTables">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="createTablesRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="createTablesResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="consultaTransacaoPartido">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="consultaTransacaoPartidoRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="consultaTransacaoPartidoResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="EleicoesWebServiceService">

      <wsdl:port binding="impl:EleicoesWebServiceSoapBinding" name="EleicoesWebService">

         <wsdlsoap:address location="http://localhost:8080/WebService/services/EleicoesWebService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
