code/EleicoesTransparentesServer/WebContent/wsdl/Hello.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://eleicoestransparentes.mata62.ufba.br" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://eleicoestransparentes.mata62.ufba.br" xmlns:intf="http://eleicoestransparentes.mata62.ufba.br" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://eleicoestransparentes.mata62.ufba.br" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="helloName">
    <complexType>
     <sequence>
      <element name="name" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="helloNameResponse">
    <complexType>
     <sequence>
      <element name="helloNameReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getSetoresEconomico">
    <complexType/>
   </element>
   <element name="getSetoresEconomicoResponse">
    <complexType>
     <sequence>
      <element name="getSetoresEconomicoReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="getSetoresEconomicoResponse">

      <wsdl:part element="impl:getSetoresEconomicoResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getSetoresEconomicoRequest">

      <wsdl:part element="impl:getSetoresEconomico" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="helloNameRequest">

      <wsdl:part element="impl:helloName" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="helloNameResponse">

      <wsdl:part element="impl:helloNameResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="Hello">

      <wsdl:operation name="helloName">

         <wsdl:input message="impl:helloNameRequest" name="helloNameRequest">

       </wsdl:input>

         <wsdl:output message="impl:helloNameResponse" name="helloNameResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getSetoresEconomico">

         <wsdl:input message="impl:getSetoresEconomicoRequest" name="getSetoresEconomicoRequest">

       </wsdl:input>

         <wsdl:output message="impl:getSetoresEconomicoResponse" name="getSetoresEconomicoResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="HelloSoapBinding" type="impl:Hello">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="helloName">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="helloNameRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="helloNameResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getSetoresEconomico">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getSetoresEconomicoRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getSetoresEconomicoResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="HelloService">

      <wsdl:port binding="impl:HelloSoapBinding" name="Hello">

         <wsdlsoap:address location="http://localhost:8080/EleicoesTransparentesServer/services/Hello"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
